<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IWorkflowProvider" type="Nds.Borrower.Common.Interfaces.IWorkflowProvider, Nds.EPWorkflow.Provider" />
  <alias alias="IBorrowerProvider" type="Nds.Borrower.Common.Interfaces.IBorrowerProvider, Nds.Borrower.Common" />
  <container>
    <register name="Workflow" type="IWorkflowProvider" mapTo="Nds.EPWorkflow.Provider.EPWorkflowProvider, Nds.EPWorkflow.Provider"  />
    <register name="MockWorkflow" type="IWorkflowProvider" mapTo="Nds.MockWorkflow.Provider.MockWorkflowProvider, Nds.MockWorkflow.Provider"  />
    <!--<register name="MockNds"  type="IBorrowerProvider" mapTo="Nds.LoanServicing.Mock.BorrowerProvider, Nds.LoanServicing.Mock" />-->
  </container>
</unity>